@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mainsec
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}
.mainsec header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainsec .logo
{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.mainsec header ul
{
    position: relative;
    display: flex;
}
.mainsec header ul li
{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
.mainsec header ul li a
{
    display: inline-block;
    padding: 0px 15px;
    color: white;
    font-size: 1.5em;
    /* margin-right: 40px; */
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}
.mainsec header ul li a:hover
{
    color: lightskyblue;
    background-color: rgba(221, 220, 220, 0.2);
}
.maincontent
{
    max-width: 600px;
}
.maincontent .disc h2
{
    font-size: 3.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2em;
}
.maincontent .disc p
{
    color: white;
    font-weight: 300;
    font-size: 1.2em;
    margin: 20px 0px;
}
.maincontent .disc a
{
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: teal;
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
.maincontent .disc a:hover
{
    background-color: rgb(0, 70, 70);
}
.sci
{
    position: absolute;
    bottom: 30px;
    display: flex;
}
.sci li
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li a
{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.6);
}
@media (max-width : 1100px)
{
    header
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainsec header ul li 
    {
        display: inline-block;
        list-style: none;
    }
}
@media (max-width : 900px)
{
    .mainsec .logo 
    {
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 2em;
        font-weight: 800;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .mainsec header ul li 
    {
        display: inline-block;
        list-style: none;
        margin-right: 0px;
    }
    .mainsec header ul li a {
        display: inline-block;
        padding: 0px 10px;
        color: white;
        font-size: 1em;
        text-decoration: none;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    .maincontent .disc h2 
    {
        font-size: 2.5em;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.1em;
    }
    .maincontent .disc p 
    {
        color: white;
        font-weight: 300;
        font-size: 15px;
        margin: 15px 0px;
    }
    .maincontent .disc a {
        text-decoration: none;
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        padding: 10px 10px;
        background-color: teal;
        letter-spacing: 2px;
        transition-duration: 0.3s;
    }
}
@media (max-width : 750px)
{
    .mainsec header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainsec .logo 
    {
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 800;
        text-transform: uppercase;
    }
    .mainsec 
    {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background: url(../images/bg2.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
    }
    .maincontent .disc h2 
    {
        font-size: 2.2em;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.1em;
        letter-spacing: 2px;
    }
    .maincontent .disc p 
    {
        color: white;
        font-weight: 300;
        font-size: 13px;
        margin: 15px 0px;
        line-height: 1.8em;
    }
    .sci li a 
    {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        filter: invert(1);
        transform: scale(0.4);
    }
}
@media (max-width : 660px)
{
    .mainsec
    {
        background: url(../images/bg2.jpg);
        background-position: center;
        background-size: cover;
    }
    .mainsec header ul
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mainsec header ul li
    {
        margin : 15px 0px;
    }
    .mainsec header ul li a
    {
        font-size: 20px;
    }
    .mainsec header .toggleMenu
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("../images/menu.png");
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }
    .mainsec header .toggleMenu.active
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("../images/close.png");
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }
    .mainsec header  .navigation.active
    {
        display: flex;
    }
}
@media (max-width : 800px)
{
    .mainsec
    {
        background: url(../images/bg2.jpg);
        background-position: center;
        background-size: cover;
    }
} 
